<div class="jumbotron mt-4">
    <h1 class="display-4">HEMS With NODE JS & MONGODB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis possimus obcaecati natus perspiciatis, recusandae fugiat!
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem fugit itaque tempora iure saepe quia.</p>
    <a href="https://www.google.com" class="btn btn-primary">GOOGLE</a>
</div>


