<div class="container" id="home">
    <div class="card">
        <div class="card-header">
            <h4>Distribuidores</h4>
        </div>
        <table class="table" id='tabla'>
            <thead>
                <tr>
                    <th>Distribuidor</th>
                    <th>Renovable</th>
                    <th>Seleccion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Solar</th>
                    <td>SI</td>
                    <td></td>

                </tr>
                <tr>
                    <th>Eolico</th>
                    <td>SI</td>
                    <td></td>

                </tr>
                <tr>
                    <th>Normal</th>
                    <td>NO</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="card" id="consumo">
        Consumiendo: 
    </div>
</div>

<div class="container" id='tarifa'></div